/*STATUS BAR AT TOP*/
#statusWindow {
	/*background-color:#999999;
	background-image: url('../res/img/hud/scoresheet.png');*/
	background-size: 100%;
	vertical-align:center;
	height:52px;
	padding:3px;
	position: absolute;
	z-index: 100;
	font-family: '1942_report1942_report', Arial, sans-serif;	
}

#statusWindowFooter {
	background-color:#999999;
	/*background-image: url('../res/img/hud/scoresheet.png');*/
	background-size: 100%;
	vertical-align:center;
	height:52px;
	padding:3px;
	width: 3px;
	position: absolute;
	z-index: 100;
	font-family: '1942_report1942_report', Arial, sans-serif;	
}

.statusMessage {
	border:1px solid black;
	background-color:#d9d9d8;
	text-align:left;
}

.ui-scores {
	width: 50%;
}

.ui-times {
	width: 50%;
	text-align: left;
}

.ui-time {
	float: right;
}

.ui-roomname {
	text-align:center;
}

#statusClock {
	background-color:#999999;
	border:1px solid black;
	text-align:center;
	height:36px;
	width:36px;
}

.bevelBox {
    background: #666666;
    border: 1px solid #999999;    
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

/*#gameviewDOM {
	background-color:#a5e63e;
	height:800px;
	width:480px;
}*/
