/*STATUS BAR AT TOP*/
#statusWindow {
	background-color:#999999;
	vertical-align:center;
	height:52px;
	padding:3px;
}

.statusMessage {
	border:1px solid black;
	background-color:#d9d9d8;
	text-align:left;
}

#statusClock {
	background-color:#999999;
	border:1px solid black;
	text-align:center;
	height:36px;
	width:36px;
}

.bevelBox {
    background: #666666;
    border: 1px solid #999999;    
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

/*#gameviewDOM {
	background-color:#a5e63e;
	height:800px;
	width:480px;
}*/
